/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.ba*
.phpunit.result.cache
docker-compose.override.ymls
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app.js.LICENSE.txt
.DS_Store
