// Normalize.css
@import '~normalize.css';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Animate on Scroll
@import '~aos/dist/aos.css';

.btn {
    font-size: .875rem;
}

.btn-border, a {
    color: #fff !important
}

.btn-border {
    background: 0 0;
    border: 1px solid #fff
}

.btn-border:hover {
    background: rgba(255, 255, 255, .08)
}

.landing {
    background: url('/img/landing.jpg') bottom center no-repeat;
    color: #fff;
    overflow: hidden;
    padding: 280px 0
}

.landing .contents h1, h1 {
    font-size: 50px;
    font-weight: 700
}

.landing .contents p {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase
}

.landing .sticky-navigation {
    background: 0 0
}

.navbar span a:hover {
    opacity: .8
}

.navbar {
    background-color: #7d2746 !important;
    color: #ccc;
    font-size: 14px;
    padding: 15px 0 15px;
    border-bottom: #222121 1px solid;
}

.navbar .navbar-nav li {
    float: none
}

.navbar .navbar-nav li a {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s ease-in-out
}

.navbar span a {
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    color: #fff;
    transition: all .2s linear
}

.navbar-nav {
    float: none;
    margin: 0
}

.section {
    padding: 90px 0
}

a {
    background-color: transparent;
    outline: 0;
    text-decoration: none
}

a:focus, a:hover {
    color: #fff;
    outline: 0;
    text-decoration: none
}

body {
    background: #7d2746;
    color: #666;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important
}

html {

}

ul {
    margin: 0;
    padding: 0
}

ul li {
    list-style: none
}

#about {
    background: url('/img/backgrounds/blurred-bg.jpg') center center fixed;
    background-size: cover;
    color: #fff
}

#why {
    background: url('/img/why-bg.jpg');
    background-size: cover;
    border-top: rgba(0, 0, 0, .15) 10px solid;
    color: #fff
}

#why .content .list-item li {
    color: #fff;
    font-size: 16px;
    line-height: 40px
}

#why .content h2 {
    font-size: 50px;
    font-weight: 100;
    line-height: 60px;
    margin-top: 0
}

.landing h6 {
    font-size: 18px;
    font-weight: 400;
}

footer {
    background: #080808;
    color: #b7b9bc;
}

footer .bottom-social-icons .discogs:hover {
    background-color: #7a7a7a
}

footer .bottom-social-icons .bitbucket:hover {
    background-color: #205081
}

footer .bottom-social-icons .github:hover {
    background-color: #000
}

footer .bottom-social-icons .linkedin:hover {
    background-color: #0077b5
}

footer .bottom-social-icons .stackoverflow:hover {
    background-color: #f58025
}

footer .bottom-social-icons .twitter:hover {
    background-color: #1da1f2
}

footer .bottom-social-icons a {
    background: #292b2c;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 32px
}

footer, footer .footer-nav li a {
    color: #999;
}

.user-icon {
    color: #ccc;
    font-size: 120px;
    opacity: .5 !important
}
